<header class="header">
    <div class="container header-top">
        <div class="logo">Pink Lashes</div>
        <div class="socials">
            <a href="#">IG</a>
            <a href="#">TG</a>
            <a href="#">WA</a>
        </div>
    </div>

    <nav class="nav">
        <a href="#">Главная</a>
        <a href="#">О нас</a>
        <a href="#">Услуги</a>
        <a href="#">Мастера</a>
        <a href="#">Обучение</a>
    </nav>

    <section class="hero">
        <img src="{% static 'img/team.jpg' %}" alt="Команда">
    </section>
</header>
