{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="sec md">
  <div class="md-wrap">
    <div class="md-img">
        <img src="{{ master.img.url }}" alt="{{ master.name }}">
    </div>

    <div class="md-info">
      <div class="md-top">МАСТЕР</div>

      <h1 class="md-name">Мастер {{ master.name }}</h1>

      <div class="md-exp">Опыт работы — {{ master.experience }}</div>

      <div class="md-tags">
        {% for s in master.services.all %}
          <span class="tag tag--on">{{ s.title }}</span>
        {% endfor %}
      </div>

      <p class="md-text">
        {{ master.description }}
      </p>

      <div class="md-soc">
        {% if socialmedia.master %}<a class="soc" href="{{ socialmedia.link }}">IG</a>{% endif %}
      </div>

      <div class="md-list">
        <div class="md-item">
          <div class="num">01</div>
          <div>
            <div class="it-title">Мастер года</div>
            <div class="it-text">Признан за выдающиеся достижения.</div>
          </div>
        </div>

        <div class="md-item">
          <div class="num">02</div>
          <div>
            <div class="it-title"Мастер года</div>
            <div class="it-text">Признан за выдающиеся достижения.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec gallery">
  <h2 class="h2">Фотогалерея работ</h2>

  <div class="tabs">
  {% for t in servicetype %}
      {{ t.title }}
    </a>
  {% endfor %}
</div>

  <div class="ggrid">
    {% for g in gallery %}
      <div class="gcard">
        {% if g.img %}
          <img src="{{ g.image.url }}" alt="{{ g.title }}">
        {% endif %}
        <p>{{ g.title }}</p>
      </div>
    {% empty %}
      <p style="text-align:center;">Нет работ для этого сервиса</p>
    {% endfor %}
  </div>
</section>


<section class="rev">
  <h2 class="rh">Отзывы клиентов</h2>

  <div class="rgrid">
    {% for r in reviews|slice:":4" %}
      <article class="rcard">
        <div class="rquote">“</div>

        <p class="rtext">{{ r.comment|truncatechars:170 }}</p>

        <div class="rstars">
          {% if r.rating >= 1 %}★{% else %}☆{% endif %}
          {% if r.rating >= 2 %}★{% else %}☆{% endif %}
          {% if r.rating >= 3 %}★{% else %}☆{% endif %}
          {% if r.rating >= 4 %}★{% else %}☆{% endif %}
          {% if r.rating >= 5 %}★{% else %}☆{% endif %}
        </div>

        <div class="rbot">
          <div class="rava">
            {% if r.master.photo %}
              <img src="{{ r.master.photo.url }}" alt="{{ r.master.name }}">
            {% endif %}
          </div>
          <div class="rwho">
            <div class="rname">Мастер {{ r.master.name }}</div>
            <div class="rrole">{{ r.master.get_position_display }}</div>
          </div>
        </div>
      </article>
    {% empty %}
      <p style="text-align:center;">Отзывов пока нет</p>
    {% endfor %}
  </div>
</section>

{% endblock content %}